<a href="https://colab.research.google.com/github/faizdifak/Big-Data/blob/main/Advanced_MongoDB_week11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Establish client connection
client = MongoClient('mongodb://localhost:27017/')
db = client['university_db']
courses_collection = db['courses']

# Bulk insert of course with student enrollments
operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
     InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
     InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
     InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'})
    ]
courses_collection.bulk_write(operations)
print('Courser inserted successfully.')

# ðŸ”¹ Menampilkan semua data yang ada di koleksi "courses"
print("Daftar semua data courses:")
for course in courses_collection.find():
    print(course)

Courser inserted successfully.
Daftar semua data courses:
{'_id': ObjectId('690c00111d3a1a99ddbb6194'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'students': [{'student_id': 1, 'name': 'Asep'}, {'student_id': 2, 'name': 'Boby'}, {'student_id': 10, 'name': 'Rusdi'}]}
{'_id': ObjectId('690c00111d3a1a99ddbb6195'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'students': [{'student_id': 3, 'name': 'Chunha'}, {'student_id': 4, 'name': 'David'}, {'student_id': 5, 'name': 'Eva'}]}
{'_id': ObjectId('690c00111d3a1a99ddbb6196'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'students': [{'student_id': 6, 'name': 'Fiona'}]}
{'_id': ObjectId('690ca6798c49c7f9dceeb07b'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('690ca6798c49c7f9dceeb07c'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('690ca6798c49c7f9dceeb07d'), 'course': 'History 201', 'enrollments': 20, 'department': 'History'}
{'_id': ObjectId('690ca6798c49c7f9dceeb07e'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'}

In [ ]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Koneksi ke MongoDB
client = MongoClient('mongodb://localhost:27017/')
db = client['university_db']
courses_collection = db['courses']

# Hapus semua data sebelumnya biar tidak dobel saat testing
courses_collection.delete_many({})

# --- Latihan 1 dan Tugas 1 ---
operations = [
    # Insert beberapa dokumen course (masing-masing punya daftar siswa)
    InsertOne({
        'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics','students': [
            {'student_id': 1, 'name': 'Asep'},
            {'student_id': 2, 'name': 'Boby'}
        ]
    }),
    InsertOne({
        'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'students': [
            {'student_id': 3, 'name': 'Chunha'},
            {'student_id': 4, 'name': 'David'},
            {'student_id': 5, 'name': 'Eva'}
        ]
    }),
    InsertOne({
        'course': 'History 201', 'enrollments': 20, 'department': 'History', 'students': [
            {'student_id': 6, 'name': 'Fiona'}
        ]
    }),
    InsertOne({
        'course': 'Physics 202', 'enrollments': 15, 'department': 'Computer Physics', 'students': [
            {'student_id': 7, 'name': 'Meli'},
            {'student_id': 8, 'name': 'Dani'},
            {'student_id': 9, 'name': 'Heru'}
        ]
    }),

    # Update â€” misal menambah siswa baru di Math 101
    UpdateOne(
        {'course': 'Math 101'},
        {'$push': {'students': {'student_id': 10, 'name': 'Rusdi'}}}
    ),

    # Delete â€” hapus course yang tidak aktif lagi
    DeleteOne({'course': 'Physics 202'})
]

# Jalankan operasi bulk
result = courses_collection.bulk_write(operations)

print("Bulk operasi selesai.")
print(f"Dokumen disisipkan: {result.inserted_count}")
print(f"Dokumen diperbarui: {result.modified_count}")
print(f"Dokumen dihapus: {result.deleted_count}")

# Tampilkan data hasil akhir
print("\nData semua course saat ini:")
for course in courses_collection.find():
    print(course)

Bulk operasi selesai.
Dokumen disisipkan: 4
Dokumen diperbarui: 1
Dokumen dihapus: 1

Data semua course saat ini:
{'_id': ObjectId('690ca6828c49c7f9dceeb080'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'students': [{'student_id': 1, 'name': 'Asep'}, {'student_id': 2, 'name': 'Boby'}, {'student_id': 10, 'name': 'Rusdi'}]}
{'_id': ObjectId('690ca6828c49c7f9dceeb081'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'students': [{'student_id': 3, 'name': 'Chunha'}, {'student_id': 4, 'name': 'David'}, {'student_id': 5, 'name': 'Eva'}]}
{'_id': ObjectId('690ca6828c49c7f9dceeb082'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'students': [{'student_id': 6, 'name': 'Fiona'}]}

In [ ]:
# Memfilter dan Kueri Kompleks
# Latihan 2
# Filter kursus dengan pendaftaran lebih dari 20 siswa
for course in courses_collection.find({'enrollments':{'$gt': 20}}):
    print(course)

{'_id': ObjectId('690ca6828c49c7f9dceeb080'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'students': [{'student_id': 1, 'name': 'Asep'}, {'student_id': 2, 'name': 'Boby'}, {'student_id': 10, 'name': 'Rusdi'}]}
{'_id': ObjectId('690ca6828c49c7f9dceeb081'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'students': [{'student_id': 3, 'name': 'Chunha'}, {'student_id': 4, 'name': 'David'}, {'student_id': 5, 'name': 'Eva'}]}

In [ ]:
# Tugas 2
# Mengambil dan Menampilkan kursus hanya dari jurusan 'ilmu Komputer' atau "Matematika'
for course in courses_collection.find({'department':{'$in': ['Computer Science', 'Matematics']}}):
    print(course)

{'_id': ObjectId('690ca6828c49c7f9dceeb081'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'students': [{'student_id': 3, 'name': 'Chunha'}, {'student_id': 4, 'name': 'David'}, {'student_id': 5, 'name': 'Eva'}]}

In [ ]:
# Kerangka Agregasi untuk Analisi Data
# Latihan 3
# Gunakan Agregasi untuk menemukan rata2 pendaftaran per department
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Mathematics', 'average_enrollment': 30.0}
{'_id': 'Computer Science', 'average_enrollment': 25.0}
{'_id': 'History', 'average_enrollment': 20.0}

In [ ]:
# Tugas 3
# Membuat jalur agregasi yang menemukan pendaftaran maksimum untuk setiap department
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'History', 'max_enrollment': 20}
{'_id': 'Computer Science', 'max_enrollment': 25}
{'_id': 'Mathematics', 'max_enrollment': 30}

In [ ]:
# Transformasi Data menggunakan Project dan Menambahkan Bidang
#Latihan 4
# Gunakan $project untuk mengganti nama dan hanya menampilkan bidang: course_name, department_name, dan enrollments
pipeline = [
    { '$project' : { 'course_name' : '$course' , 'department_name' : '$department' , 'enrollments' : 1 }}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('690ca6828c49c7f9dceeb080'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('690ca6828c49c7f9dceeb081'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('690ca6828c49c7f9dceeb082'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}

In [ ]:
# Tugas 4
# Gunakan $addFields untuk membuat bidang baru enrollment_category dimana enrollment > 20 high dan yang lainya low
pipeline = [
    {'$addFields' : {'enrollment_category' : {'$cond':{'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('690ca6828c49c7f9dceeb080'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'students': [{'student_id': 1, 'name': 'Asep'}, {'student_id': 2, 'name': 'Boby'}, {'student_id': 10, 'name': 'Rusdi'}], 'enrollment_category': 'high'}
{'_id': ObjectId('690ca6828c49c7f9dceeb081'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'students': [{'student_id': 3, 'name': 'Chunha'}, {'student_id': 4, 'name': 'David'}, {'student_id': 5, 'name': 'Eva'}], 'enrollment_category': 'high'}
{'_id': ObjectId('690ca6828c49c7f9dceeb082'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'students': [{'student_id': 6, 'name': 'Fiona'}], 'enrollment_category': 'low'}

In [ ]:
# Tugas Tambahan
print("\n=== TUGAS 1: Jumlah mata kuliah per departemen ===")
pipeline1 = [
    {
        '$group': {
            '_id': '$department',
            'jumlah_mata_kuliah': {'$sum': 1}
        }
    }
]

for doc in courses_collection.aggregate(pipeline1):
    print(doc)

=== TUGAS 1: Jumlah mata kuliah per departemen ===
{'_id': 'Mathematics', 'jumlah_mata_kuliah': 1}
{'_id': 'Computer Science', 'jumlah_mata_kuliah': 1}
{'_id': 'History', 'jumlah_mata_kuliah': 1}

In [ ]:
print("\n=== TUGAS 2: Kursus dengan enrollments > 25 di Computer Science ===")
pipeline2 = [
    {
        '$match': {
            'department': 'Computer Science',
            'enrollments': {'$gte': 25}  # gunakan $gte
        }
    },
    {
        '$group': {
            '_id': '$department',
            'total_kursus': {'$sum': 1},
            'daftar_kursus': {'$push': '$course'}
        }
    }
]

for doc in courses_collection.aggregate(pipeline2):
    print(doc)

=== TUGAS 2: Kursus dengan enrollments > 25 di Computer Science ===
{'_id': 'Computer Science', 'total_kursus': 1, 'daftar_kursus': ['CS 102']}

In [ ]:
# Pecah Studen koleksi agar bisa di Join
students_collection = db['students']
students_collection.delete_many({})  # bersihkan dulu

students_data = [
    {'student_id': 1, 'name': 'Asep'},
    {'student_id': 2, 'name': 'Boby'},
    {'student_id': 3, 'name': 'Chunha'},
    {'student_id': 4, 'name': 'David'},
    {'student_id': 5, 'name': 'Eva'},
    {'student_id': 6, 'name': 'Fiona'},
    {'student_id': 10, 'name': 'Rusdi'}
]

students_collection.insert_many(students_data)
print("\nKoleksi 'students' berhasil dibuat.")

Koleksi 'students' berhasil dibuat.

In [ ]:
print("\n=== TUGAS 3: Gabung courses dengan students menggunakan $lookup ===")
pipeline3 = [
    {'$unwind': '$students'},  # pecah list students
    {
        '$lookup': {
            'from': 'students',           # koleksi tujuan
            'localField': 'students.student_id',  # field di courses
            'foreignField': 'student_id',         # field di students
            'as': 'student_info'                  # hasil join
        }
    },
    {'$unwind': '$student_info'},  # ambil detail siswa
    {
        '$project': {
            '_id': 0,
            'course': 1,
            'department': 1,
            'student_name': '$student_info.name'
        }
    }
]

for doc in courses_collection.aggregate(pipeline3):
    print(doc)

=== TUGAS 3: Gabung courses dengan students menggunakan $lookup ===
{'course': 'Math 101', 'department': 'Mathematics', 'student_name': 'Asep'}
{'course': 'Math 101', 'department': 'Mathematics', 'student_name': 'Boby'}
{'course': 'Math 101', 'department': 'Mathematics', 'student_name': 'Rusdi'}
{'course': 'CS 102', 'department': 'Computer Science', 'student_name': 'Chunha'}
{'course': 'CS 102', 'department': 'Computer Science', 'student_name': 'David'}
{'course': 'CS 102', 'department': 'Computer Science', 'student_name': 'Eva'}
{'course': 'History 201', 'department': 'History', 'student_name': 'Fiona'}