<a href="https://colab.research.google.com/github/faizdifak/Big-Data/blob/main/Data_Cleaning_dan_Preparation_week_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Pertemuan 12

In [ ]:
# Data Cleaning dan Preparation
# Exercise 1: Identifying and Handling Missing Data
import pandas as pd

# Sample dataset with missing values
data = {
'Name': ['Alice', 'Bob', 'Charlie', 'David', None],
'Age': [24, 30, None, 22, 35],
'Salary': [48000, None, 57000, None, 60000]
}
df = pd.DataFrame(data)

# Filling missing values and dropping rows
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Salary'].fillna(df['Salary'].median(), inplace=True)
df.dropna(subset=['Name'], inplace=True)
print('After cleaning:\n', df)

After cleaning:
       Name    Age   Salary
0    Alice  24.00  48000.0
1      Bob  30.00  57000.0
2  Charlie  27.75  57000.0
3    David  22.00  57000.0

/tmp/ipykernel_3677/2076622802.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
/tmp/ipykernel_3677/2076622802.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].median(), inplace=True)

In [ ]:
# Exercise 2: Standardizing Categorical Data
# Sample dataset with inconsistent categorical values
data = {
    'Product': ['Laptop', 'Laptop', 'Desktop', 'Tablet', 'Tablet'],
    'Category': ['Electronics', 'electronics', 'Electronics', 'Gadgets', 'gadgets']
}
df = pd.DataFrame(data)

# Standardize category values
df['Category'] = df['Category'].str.capitalize()
print('Standardized Data:\n', df)

Standardized Data:
    Product     Category
0   Laptop  Electronics
1   Laptop  Electronics
2  Desktop  Electronics
3   Tablet      Gadgets
4   Tablet      Gadgets

In [ ]:
# Tugas Praktik
#  Load Dataset and Identify missing values
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler

# 1. Load dataset
df = pd.read_csv ('/home/fdkbigdata/Downloads/train.csv')

# 2. Identifikasi missing values
print("Jumlah missing tiap kolom:")
print(df.isna().sum())

Jumlah missing tiap kolom:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
# Implement data transformation to normalize numerical columns
# 3. Normalisasi kolom numerik
numeric_cols = df.select_dtypes(include=['int64','float64']).columns.tolist()
print("Kolom numerik:", numeric_cols)

# Misalnya kita skip kolom target (“Survived”) jika ada
if 'Survived' in numeric_cols:
    numeric_cols.remove('Survived')

scaler = MinMaxScaler()  # atau StandardScaler()
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])
print("Setelah normalisasi kolom numerik:")
print(df[numeric_cols].head())

Kolom numerik: ['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']
Setelah normalisasi kolom numerik:
   PassengerId  Pclass       Age  SibSp  Parch      Fare
0     0.000000     1.0  0.271174  0.125    0.0  0.014151
1     0.001124     0.0  0.472229  0.125    0.0  0.139136
2     0.002247     1.0  0.321438  0.000    0.0  0.015469
3     0.003371     0.0  0.434531  0.125    0.0  0.103644
4     0.004494     1.0  0.434531  0.000    0.0  0.015713

In [ ]:
# Standardize categorical columns and remove duplicates
# 4. Standarisasi kolom kategorikal
categorical_cols = df.select_dtypes(include=['object']).columns.tolist()
print("Kolom kategorikal:", categorical_cols)

# Contoh sederhana: ubah semua ke huruf kecil + kapitalisasi
for col in categorical_cols:
    df[col] = df[col].str.strip().str.lower().str.capitalize()

print("Setelah standarisasi kategori:")
print(df[categorical_cols].head())

Kolom kategorikal: ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']
Setelah standarisasi kategori:
                                                Name     Sex  \
0                            Braund, mr. owen harris    Male
1  Cumings, mrs. john bradley (florence briggs th...  Female
2                             Heikkinen, miss. laina  Female
3       Futrelle, mrs. jacques heath (lily may peel)  Female
4                           Allen, mr. william henry    Male

             Ticket Cabin Embarked
0         A/5 21171   NaN        S
1          Pc 17599   C85        C
2  Ston/o2. 3101282   NaN        S
3            113803  C123        S
4            373450   NaN        S

In [ ]:
# 5. Menghapus duplikat
before = df.shape[0]
df = df.drop_duplicates()
after = df.shape[0]
print(f"Baris sebelum drop duplicates: {before}, setelah: {after}")
print(df.head())

Baris sebelum drop duplicates: 891, setelah: 891
   PassengerId  Survived  Pclass  \
0     0.000000         0     1.0
1     0.001124         1     0.0
2     0.002247         1     1.0
3     0.003371         1     0.0
4     0.004494         0     1.0

                                                Name     Sex       Age  SibSp  \
0                            Braund, mr. owen harris    Male  0.271174  0.125
1  Cumings, mrs. john bradley (florence briggs th...  Female  0.472229  0.125
2                             Heikkinen, miss. laina  Female  0.321438  0.000
3       Futrelle, mrs. jacques heath (lily may peel)  Female  0.434531  0.125
4                           Allen, mr. william henry    Male  0.434531  0.000

   Parch            Ticket      Fare Cabin Embarked
0    0.0         A/5 21171  0.014151   NaN        S
1    0.0          Pc 17599  0.139136   C85        C
2    0.0  Ston/o2. 3101282  0.015469   NaN        S
3    0.0            113803  0.103644  C123        S
4    0.0            373450  0.015713   NaN        S

In [ ]:
# Tugas Tambahan
# Clean a real-world dataset, perform normalization, handle outlier, and prepare the data for analysis
import pandas as pd

# Load dataset
df = pd.read_csv('/home/fdkbigdata/Downloads/netflix_titles.csv')

# Lihat 5 baris pertama
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [ ]:
# Cek Informasi Umum dan Missing Values
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [ ]:
# Data Cleaning
# Hapus duplikasi
df.drop_duplicates(inplace=True)
# Isi missing value pada kolom 'rating' dengan 'Unknown'
df['rating'] = df['rating'].fillna('Unknown')
# Isi missing country dengan 'Unknown'
df['country'] = df['country'].fillna('Unknown')
# Untuk kolom teks seperti 'director' atau 'cast', ganti NaN jadi 'Not Available'
df['director'] = df['director'].fillna('Not Available')
df['cast'] = df['cast'].fillna('Not Available')


# Feature Extraction
# Ubah release_year menjadi integer
df['release_year'] = df['release_year'].astype(int)

# Ubah date_added menjadi format tanggal
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')

# Ambil tahun penambahan ke Netflix
df['year_added'] = df['date_added'].dt.year

In [ ]:
# Handle Outliers (Contoh Kolom Numerik)
import numpy as np
Q1 = df['release_year'].quantile(0.25)
Q3 = df['release_year'].quantile(0.75)
IQR = Q3 - Q1

# Tentukan batas
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filter outliers (film terlalu lama atau terlalu baru)
df = df[(df['release_year'] >= lower_bound) & (df['release_year'] <= upper_bound)]

In [ ]:
# Normalization (pada data numerik)
from sklearn.preprocessing import MinMaxScaler

# Buat kolom 'years_since_release'
df['years_since_release'] = 2025 - df['release_year']

# Normalisasi ke rentang 0–1
scaler = MinMaxScaler()
df['years_since_release_norm'] = scaler.fit_transform(df[['years_since_release']])

In [ ]:
# Data Preparation for Analysis
clean_df = df[['title', 'type', 'country', 'release_year', 'rating',
               'duration', 'listed_in', 'years_since_release_norm']]

clean_df.head()

,title,type,country,release_year,rating,duration,listed_in,years_since_release_norm
0,Dick Johnson Is Dead,Movie,United States,2020,PG-13,90 min,Documentaries,0.058824
1,Blood & Water,TV Show,South Africa,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries",0.000000
2,Ganglands,TV Show,Unknown,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",0.000000
3,Jailbirds New Orleans,TV Show,Unknown,2021,TV-MA,1 Season,"Docuseries, Reality TV",0.000000
4,Kota Factory,TV Show,India,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",0.000000